backend/.env
backend/apps/crm/__pycache__/
backend/apps/__pycache__/
backend/apps/crm/migrations/__pycache__/
backend/apps/deals/__pycache__/
backend/apps/deals/migrations/__pycache__/
backend/apps/documents/__pycache__/
backend/apps/documents/migrations/__pycache__/
backend/apps/finances/__pycache__/
backend/apps/finances/migrations/__pycache__/
backend/apps/realty/__pycache__/
backend/apps/reports/__pycache__/
backend/apps/reports/migrations/__pycache__/
backend/permissions/__pycache__/
backend/permissions/management/__pycache__/
backend/real_estate_project/__pycache__/
backend/permissions/migrations/__pycache__/__init__.cpython-314.pyc
backend/permissions/migrations/__pycache__/0001_initial.cpython-314.pyc
backend/permissions/migrations/__pycache__/0002_role_refactor_category_scope.cpython-314.pyc
backend/apps/realty/migrations/__pycache__/
frontend-new/node_modules/
backend/apps/tasks/__pycache__/
backend/apps/tasks/migrations/__pycache__/
docs/*
backend/db.sqlite3
